h1 {
    margin: 3px 0px 20px 0px;
    padding: 20px 0px 20px 0px;
    border: 2px;
    border-style: solid hidden solid hidden;
    border-color: lightblue;
    text-align: center;
}

body {
    padding: 0px 10px 0px 10px;
    border: 2px;
    border-style: hidden solid hidden solid;
    min-width: 800px;
    max-width: 1024px;
    margin: auto;
}

div#intro {
    margin: 0px 20% 0px 20%;
    text-align: center;
    /*ex2*/
    clear: both;
}


/* ======= règles exercice 2 ======= */

li {
    padding: 5px;
    border: 2px solid blue;
    margin: auto;
    float: left;
    list-style-type: none;
    color: black;
    background-color: red;
    width: 150px;
    display: block;
}

li:hover {
    background-color: blue;
}

ul {
    border: 0px solid yellow;
    width: 462px;
    margin: auto;
    display: inline;
}

nav>ul>li>ul {
    display: none;
}

div#menub {
    display: none;
}

a {
    text-decoration: none;
    color: white;
}

nav {
    margin: auto;
    width: 70%;
    border: 0px solid red;
}