h1 {
    margin: 3px 0px 20px 0px;
    padding: 20px 0px 20px 0px;
    border: 2px;
    border-style: solid hidden solid hidden;
    border-color: lightblue;
    text-align: center;
}

body {
    padding: 0px 10px 0px 10px;
    border: 2px;
    border-style: hidden solid hidden solid;
    min-width: 800px;
    max-width: 1024px;
    margin: auto;
}

div#intro {
    margin: 0px 20% 0px 20%;
    text-align: center;
}